@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    color: #222;
    line-height: 20px;
}
ul, ol{
    list-style: none;
}
img{
    vertical-align: top;
    border: 0;
    width: 100%;
}
a{
    text-decoration: none;
}

/* 헤더 */
.headerIn{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
	position: absolute;
	top: 30px;
	left: 50%;
	margin-left: -40px;
}
.logo a{
    display: block;
    width: 80px;
    height: 80px;
    text-indent: -99999px;
    text-align: center;
    margin: 0 auto;
    background-image: url(../img/logo.PNG);
    background-size : 80px 80px;
}
.member{
	position: absolute;
	right: 0;
	top: 70px;
}

.jogin a{
	color: #444444;
}

.member .btn_sc{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    text-indent: -99999px;
    background-image: url(../img/search.PNG);
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.member .btn_cart{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    text-indent: -99999px;
    background-image: url(../img/cart.PNG);
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.member ul{
	display: flex;
	justify-content: space-around;
}

.member a{
	margin-left: 20px;
}

.gnb{
    position: relative;
    background-color: rgb(108, 101, 96);
    height: 52px;
}

.gnb-in{
    width: 1190px;
    margin: 50px auto;
}

.gnb-in>ul{
    display: flex;
    justify-content: space-between;
}

.gnb-in>ul>li{
    position: relative;
}

.gnb-in>ul>li>a{
    display: block;
    width: 170px;
    height: 52px;
	line-height: 52px;
    color: #fff;
    font-size: 17px;
    text-align: center;
}

.gnb .sub{
    position: absolute;
    top: 52px;
    left: 0;
    background-color: rgba(158, 145, 145, 0.9);
    width: 100%;
    height: 300px;
    z-index: 1;
    display: none;
}
.sub ul li{
	text-align: center;
}
.gnb .sub a{
    font-size: 15px;
    color: #fff;
    line-height: 25px;
    text-align: center;
}

/* .gnb-in>ul>li:last-child>a{
    background-color: rgb(77, 62, 51);
    display: block;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    padding: 0;
    width: 140px;
} */